
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    -webkit-box-shadow: 5px 4px 9px 5px rgba(115,115,115,0.52); 
    box-shadow: 5px 4px 9px 5px rgba(115,115,115,0.52);

}

.featuredTitle{
    font-size: 25px importat !important;
    font-weight: 600;
}

.featuredList{
    font-size: 20px;
    list-style: none;
    font-weight: normal;
}

.featuredListItem{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}