
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    -webkit-box-shadow: 5px 4px 9px 5px rgba(115,115,115,0.52); 
    box-shadow: 5px 4px 9px 5px rgba(115,115,115,0.52);

}

.featuredTitle{
    font-size: 25px importat !important;
    font-weight: 600;
}

.featuredMoney{
    font-size: 30px;   
    font-weight: normal;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color :green;
}

.featuredIcon.negative{
    color:red;
}
.featuredSub{
    font-size: 15px;
    color: gray;
}