.court{
    flex: 4;
    padding: 20px;
}

.courtTitleContainer{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.courtTitle{
    font-size: 32px;
    font-weight: 600;
}