.court{
    flex: 4;
    padding: 20px;
}

.courtTitleContainer{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.courtTitle{
    font-size: 32px;
    font-weight: 600;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rowTable{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 300px;
}

.column{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 30px;
}